<div class="container mx-auto p-8 mt-10">
  <h2 class="text-center text-green-400 text-3xl font-semibold mb-6">Create Customer</h2>
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="bg-gray-900 rounded-lg shadow-lg p-8">
      <div class="mb-6">
          <label for="customerID" class="block text-gray-400 font-medium mb-2">Customer ID</label>
          <input id="customerID" formControlName="customerID" type="number" placeholder="Enter Customer ID"
              class="w-full px-4 py-3 bg-gray-800 text-gray-300 border border-gray-700 rounded-lg focus:ring-green-500 focus:border-green-500 shadow-sm" />
      </div>

      <div class="mb-6">
          <label for="name" class="block text-gray-400 font-medium mb-2">Name</label>
          <input id="name" formControlName="name" type="text" placeholder="Enter Name"
              class="w-full px-4 py-3 bg-gray-800 text-gray-300 border border-gray-700 rounded-lg focus:ring-green-500 focus:border-green-500 shadow-sm" />
      </div>

      <div class="mb-6">
          <label for="email" class="block text-gray-400 font-medium mb-2">Email</label>
          <input id="email" formControlName="email" type="email" placeholder="Enter Email"
              class="w-full px-4 py-3 bg-gray-800 text-gray-300 border border-gray-700 rounded-lg focus:ring-green-500 focus:border-green-500 shadow-sm" />
      </div>

      <div class="mb-6">
          <label for="phone" class="block text-gray-400 font-medium mb-2">Phone</label>
          <input id="phone" formControlName="phone" type="text" placeholder="Enter Phone"
              class="w-full px-4 py-3 bg-gray-800 text-gray-300 border border-gray-700 rounded-lg focus:ring-green-500 focus:border-green-500 shadow-sm" />
      </div>

      <div>
          <button type="submit" [disabled]="!customerForm.valid"
              class="w-full bg-green-500 text-white px-6 py-3 rounded-lg shadow-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 disabled:bg-gray-500">
              Submit
          </button>
      </div>
  </form>
</div>

<div class="container mx-auto mt-8">
  <div class="p-6 bg-gray-800 border border-gray-700 rounded-lg shadow-md">
      <ng-container *ngIf="(Customer$ | async) as customers">
          <ng-container *ngIf="customers.length > 0; else noCustomer">
              <p class="text-3xl font-bold text-gray-100 mb-6 text-center">Customer List</p>
              <ul class="space-y-4">
                  <li *ngFor="let item of customers; trackBy: trackByFn">
                      <div class="bg-gray-700 border border-gray-600 rounded-lg p-4 shadow-md">
                          <div class="flex items-center space-x-4">
                              <div class="flex-1 text-white">
                                  <p class="text-md font-semibold">ID: {{ item.customerID }}</p>
                              </div>
                              <div class="flex-1 text-gray-300">
                                  <p class="text-md">Name: {{ item.name }}</p>
                              </div>
                              <div class="flex-1 text-gray-300">
                                  <p class="text-md">Email: {{ item.email }}</p>
                              </div>
                              <div class="flex-1 text-gray-400">
                                  <p class="text-md">Phone: {{ item.phone }}</p>
                              </div>
                              <!-- <div class="flex-1">
                                  <button (click)="editCustomer(item)"
                                      class="bg-yellow-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500">Edit</button>
                                  <button (click)="confirmDelete(item.customerID)"
                                      class="bg-red-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500">Delete</button>
                              </div> -->
                          </div>
                      </div>
                  </li>
              </ul>
          </ng-container>
          <ng-template #noCustomer>
              <p class="text-gray-400 text-center">No Customers Available</p>
          </ng-template>
      </ng-container>
  </div>
</div>
